[submodule "godot-cpp"]
	path = godot-cpp
	url = https://github.com/godotengine/godot-cpp.git
	branch = 4.3
[submodule "attribute-system-src"]
	path = attribute-system-src
	url = https://github.com/jalejr/attribute-system-src
[submodule "tag-system-src"]
	path = tag-system-src
	url = https://github.com/jalejr/tag-system-src
